.GeneralLayout {
    padding: 80px 0;

    @media (max-width: 1024px) {
        padding-top: 16px;
        padding-bottom: 0;
    }
}

.contentLayout {
    z-index: 4;
    position: relative;

    &:last-child {
        z-index: 3;
    }
}

.appLayout {
    ::-webkit-scrollbar {
        width: 10px;
      }
      ::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 20px; 
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    padding: 0 16px;
    z-index: 1 !important;
    @media (max-width: 767px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
      }
}