.GeneralLayout {
    padding: 80px 0;

    @media (max-width: 1024px) {
        padding: 16px 0;
    }
}

.contentLayout {
    z-index: 4;
    position: relative;

    &:last-child {
        z-index: 3;
    }
}

.appLayout {
    padding: 0 16px;
}