@import '../../../assets/sass/base/variables';
.HeaderNavbarLogin {
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: flex-end;

    @media (max-width: 767px) {
        justify-content: space-between;
    }
    
    @media (max-width: 1024px) {
        justify-content: space-between;
        border-bottom: 2px solid #E0E0E0;
        padding-bottom: 16px;
    }

    &__wrapper {
        display: flex;
        gap: 20px;
        width: 100%;
        align-items: flex-end;
        padding-left: 16px;
    
        @media (max-width: 767px) {
            justify-content: space-between;
        }
        
        @media (max-width: 1024px) {
            justify-content: space-between;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px 20px 0;
        border-left: 2px solid #E0E0E0;
        
        @media (max-width: 1024px) {
            border-left: none;
        }
    }
}

