@import '../../assets/sass/base/variables';
.search{
    width: 100%;
    display: flex;
    gap: 10px;
}

.search input{
    width: 100%;
    padding: 10px 20px;
    border-radius: 8px;
}

.search__button-filter{
    border-radius: 15px;
    background: linear-gradient(180deg, $salud-orange 0.01%, #ffe1c5 99.99%);
    box-shadow: 5px 8px 15px 0px rgba(193, 216, 234, 0.37);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    gap: 15px;
    cursor: pointer;

    & span {
        font-size: 15px;
        font-weight: 500;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    & img {
        transition: $salud-transition;
        transform: rotate(0);
    }

    & .rotate-180 {
        transform: rotate(180deg);
    }
}

.search-menu{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search__filter-menu{
    position: absolute;
    top: 45px;
    right: 0;
    width: 100%;
    text-align: center;
    border-radius: 17px;
    border: 1px solid rgba(216, 230, 242, 0.10);
    background: #FAFCFE;
    overflow: hidden;
    transform: translateY(0);
    transition: all .3s ease;
    z-index: 3;
    border: 1px solid rgba(7, 7, 7, 0.1);
    opacity: 1;
}
.search__filter-menu .search_filter-item{
    border-bottom: 1px solid rgba(7, 7, 7, 0.1);
    background: #FAFCFE;
    padding: 10px 28px;
    color: #000;
    cursor: pointer;
    transition: $salud-transition;
}
.search__filter-menu .search_filter-item:hover{
    background-color: #ffe6b171;
    color: $salud-orange;
}
