@import '../../assets/sass/base/variables';
.fruits {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 32%;
  height: 100vh;
  background-color: $salud-gray-light;
  display: flex;
  justify-content: center;
  z-index: -1;

  img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -1;
  }

  @media (max-width: 1023px) {
    height: 50vh;
    position: relative;
    width: 100%;
    justify-content: flex-start;
  }

  @media (max-width: 767px) {
    height: 200vh;
    max-height: 500px;
  }
}
.container {
  @media (min-width: 1023px) {
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 1023px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin-top: 60px;
    //align-items: center;
    //width: 80%;
    //margin:auto 0;
    //margin-left: 32px;

  }
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
   //justify-content: space-evenly;
   width:100%;
   min-width: 280px;
   margin-top: 0;
  }
}
