@import '../../../assets/sass/base/variables';
.NavLinkHeader {
    transition: $salud-transition;
    color: $salud-gray;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: .8px;

    &:hover {
        color: #000;
    }

    &.-active {
        color: #000;
    }

    &.--modal {
        font-size: 28px;
        font-weight: 700;
        color: $salud-gray;

        &:hover {
            color: #fff;
        }

        &.-active {
            color: #fff;
        }
    }
}